$sidebar-color-primary: #09203F;
$sidebar-color-secondary: #537895;

$color-black: #000;
$color-white: #fff;

$card-color-blue: #0E4C92;
$button-color-primary: #0E4C92;

$medicament-bg: linear-gradient(to right, rgba(83, 120, 149, 0.9), rgba(9, 32, 63, 0.6));
$blood-bg: linear-gradient(to right, rgba(215, 129, 106, 1), rgba(189, 79, 108, 1));

$card-box-shadow: rgba(0, 0, 0, 0.35) 0px .5rem 1.5rem;
$inner-card-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
                        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;    

$shadow-light: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
               rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;