<mat-card class="card">
  <div class="container">
    <div class="form">
      <div class="form__column">
        <label class="form__column__label" for="date">Choose new date</label>
        <mat-form-field appearance="fill" class="form__column__field">
          <mat-label>Date</mat-label>
          <input
            id="date"
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="recommendedDto.date"
            name="date"
            [min]="minDate"
            required
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <label for="duration" class="form__column__label">Duration</label>
        <mat-form-field appearance="fill" class="form__column__field">
          <mat-label>Duration</mat-label>
          <input
            id="duration"
            matInput
            value="30"
            name="duration"
            readonly="true"
            required
            disabled="true"
          />
        </mat-form-field>

        <label for="room" class="form__column__label">Room</label>
        <mat-form-field class="form__column__field" appearance="fill">
          <mat-label>Room</mat-label>
          <mat-select id="room" name="room" disabled="true" required>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form__column">
        <label for="currentDateTime" class="form__column__label"
          >Current date and time</label
        >
        <mat-form-field appearance="fill" class="form__column__field">
          <mat-label>Date time</mat-label>
          <input
            id="currentDateTime"
            matInput
            name="currentDateTime"
            readonly="true"
            required
            disabled="true"
          />
        </mat-form-field>

        <label for="patient" class="form__column__label">Patient</label>
        <mat-form-field appearance="fill" class="form__column__field">
          <mat-label>Info</mat-label>
          <mat-select [(ngModel)]="recommendedDto.patientId">
            <div *ngFor="let patient of patients">
              <mat-option [value]="patient.id"
                >{{ patient.firstName }} {{ patient.lastName }}</mat-option
              >
            </div>
          </mat-select>
        </mat-form-field>

        <label for="examType" class="form__column__label"
          >Examination type option</label
        >
        <mat-form-field appearance="fill" class="form__column__field">
          <mat-label>Examination type option</mat-label>
          <mat-select
            id="examType"
            name="examType"
            disabled="false"
            [(ngModel)]="examinationType"
            required
          >
            <mat-option value="0">General</mat-option>
            <mat-option value="1">Imaging</mat-option>
            <mat-option value="2">Operation</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="buttonContainer">
      <button class="button" (click)="onClickShowRecommended()">
        Show available appointments
      </button>
    </div>
  </div>
</mat-card>
<ngx-ui-loader *ngIf="!isFinished"></ngx-ui-loader>
