<div class="card">
  <mat-tab-group class="space" mat-stretch-tabs>
    <mat-tab label="Examinations" class="space__tab">
      <app-table-component></app-table-component>
    </mat-tab>
    <mat-tab label="Duration" class="space__tab">
      <app-duration-tab></app-duration-tab>
    </mat-tab>
    <mat-tab label="Steps" class="space__tab">
      <app-steps-tab></app-steps-tab>
    </mat-tab>
    <mat-tab label="Prescriptions" class="space__tab">
      <app-prescriptions-tab></app-prescriptions-tab>
    </mat-tab>
    <mat-tab label="Symptoms" class="space__tab">
      <app-symptoms-tab></app-symptoms-tab>
    </mat-tab>
  </mat-tab-group>
</div>
