@import '../../../../../styles/helpers/variables';

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 1rem 7rem;
    height: 57.5rem;
  
    @media screen and (max-width: 900px) {
      width: 32rem;
    }
  }
  