<mat-card class="filter__bar">
  <button mat-stroked-button color="primary">All</button>
  <button mat-stroked-button color="success">Published</button>
  <button mat-stroked-button color="warn">Archived</button>
  <button mat-stroked-button color="accent">Pending review</button>
</mat-card>

<mat-card>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="cell-center">Title</th>
      <td mat-cell *matCellDef="let news">
        {{ news.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef class="cell-center">Text</th>
      <td mat-cell *matCellDef="let news">
        {{ news.text }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="cell-center">Status</th>
      <td mat-cell *matCellDef="let news">
        {{ news.status}}
      </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="cell-center">Image</th>
      <td mat-cell *matCellDef="let news">
        {{ news.image }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
      <td mat-cell *matCellDef="let news">
        <button mat-stroked-button color="success">Publish</button>
        <button mat-stroked-button color="warn">Archive</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>
</mat-card>
