<mat-card class="filter__bar">
  <button mat-stroked-button color="primary">All</button>
  <button mat-stroked-button color="success">Published</button>
  <button mat-stroked-button color="warn">Archived</button>
  <button mat-stroked-button color="accent">Pending review</button>
</mat-card>

<div class="news__container">
  <mat-card *ngFor="let news of allNews">
    <mat-card-header>
      <mat-card-title>{{ news.title }}</mat-card-title>
      <mat-card-subtitle
        >Date published:
        {{ news.dateCreated | date: "dd.MM.yyyy" }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-chip-list>
      <mat-chip
        color="accent"
        selected
        *ngIf="news.status === allStatusTypes.PENDING"
        >Pending</mat-chip
      >
      <mat-chip
        color="success"
        selected
        *ngIf="news.status === allStatusTypes.PUBLISHED"
        >Published</mat-chip
      >
      <mat-chip
        color="warn"
        selected
        *ngIf="news.status === allStatusTypes.ARCHIVED"
        >Archived</mat-chip
      >
    </mat-chip-list>
    <br />
    <img
      mat-card-lg-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
    <mat-card-content>
      <p>
        {{ news.text }}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="news.status === allStatusTypes.PENDING">
      <button mat-stroked-button color="success">Publish</button>
      <button mat-stroked-button color="warn">Archive</button>
    </mat-card-actions>
  </mat-card>
</div>
