@import './../../../styles/helpers/variables';
@import './../../../styles/helpers/mixins';
@import './../../../styles/helpers/animations';

.wrapper {
    height: 100vh;
    min-height: 100vh;
    display: flex;
}

.sidebar {
    width: 26rem;
    color: #fff;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(to bottom, rgba($sidebar-color-primary, 1), rgba($sidebar-color-secondary, 0.5)), url('../../../assets/img/sidebar-5.jpg');
    //animation: moveInRight 1s ease-out;
}

.main-panel {
    background-color: rgba(203,203,210,.15);
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}

.router-wrapper {
    padding: 5rem;
}

