.wrapper {
    height: 100vh;
    min-height: 100vh;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 26rem;
    color: #fff;
    background-size: cover;
    background-position: center center;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .33;
    }

    &::after {
        background: linear-gradient(to bottom, #09203F 0, #537895 100%);
        background-size: 150% 150%;
        opacity: .77;
        z-index: 3;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .sidebar-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
    }
}

.sidebar-background {
    background-image: url('../../../assets/img/sidebar-5.jpg');
}

.main-panel {
    background-color: rgba(203,203,210,.15);
    width: calc(100% - 26rem);
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    float: right;
}

.router-wrapper {
    padding: 5rem;
}

