<div class="component">
  <div class="component__button" (click)="scheduleConsilium()">
    Schedule consilium
  </div>
  <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="cell-center">
          Date of event
        </th>
        <td mat-cell *matCellDef="let consilium" class="cell-center">
          {{ consilium.date | date : "dd.MM.YYYY" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="topic">
        <th at-header-cell *matHeaderCellDef class="cell-center">Topic</th>
        <td mat-cell *matCellDef="let consilium" class="cell-center">
          {{ consilium.topic }}
        </td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th at-header-cell *matHeaderCellDef class="cell-center">Duration</th>
        <td mat-cell *matCellDef="let consilium" class="cell-center">
          {{ consilium.duration }}
        </td>
      </ng-container>
      <ng-container matColumnDef="room">
        <th at-header-cell *matHeaderCellDef class="cell-center">Room</th>
        <td mat-cell *matCellDef="let consilium" class="cell-center">
          {{ consilium.Room.No }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
