@import './../../../../styles/helpers/variables';

.component {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 55rem;

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 0rem;
    padding: 0.5rem 1rem;
    width: 22rem;
    height: 2rem;
    cursor: pointer;
    caret-color: transparent;
    background-color: white;
    border: 1px solid $button-color-primary;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .5rem;
    color: $button-color-primary;
    transition: .3s;
  }

  &__button:hover {
    transform: scale(1.07);
    transition: .2s;
    cursor: pointer;
    background-color: $button-color-primary;
    color: white;
  }
}
