@import './../../../../styles/helpers/variables';

.space {
  height: 38rem;
  width: 100%;
  padding: 1rem 3rem;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &__table {
    width: 100%;
    flex: 1;
    max-height: 38rem;
    overflow-y: scroll;
  }
}

.mat-row:hover {
  background-color: rgba($sidebar-color-secondary, 0.1);
  cursor: pointer;
  caret-color: transparent;
}

.mat-header-cell {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: $sidebar-color-secondary;
  width: auto;
}

.mat-cell {
  color: $sidebar-color-secondary;
}
