.space {
  height: 100%;
  width: 100%;
  padding: 1rem 3rem;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__table {
    width: 100%;
    flex: 1;
    max-height: 38rem;
    overflow-y: scroll;
  }
}

.mat-row:hover {
  background-color: rgba(203, 203, 210, .45);
  cursor: pointer;
  caret-color: transparent;
}
