@import '../../../../../../styles/helpers/variables';

.container {
    height: 100%;
    width: 100%;
    position: relative;

    &::-webkit-scrollbar {
            width: 1rem;
        }
    
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.3);
        background-color: rgba($sidebar-color-secondary, 0.35);
        border-radius: .5rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.5);
        background-color: rgba($sidebar-color-secondary, 1);
    }

    .chart {
        height: 100% !important;
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}