<div class="container">
    <div class="background">
      <div class="size" *ngIf="averageSchedulingDurationByGroups">
        <canvas class="segment" id="chart1"></canvas>
      </div>
      <div class="size" *ngIf="averageSchedulingDuration">
        <canvas class="segment" id="chart4"></canvas>
      </div>
      <div class="size" *ngIf="numberOfViewsForEachStep">
        <canvas class="segment" id="chart2"></canvas>
      </div>
      <div class="size" *ngIf="averageNumberOfStepsAccordingToRenovationType">
        <canvas class="segment" id="chart3"></canvas>
      </div>
      <div class="size" *ngIf="averageDurationAccordingToRenovationType">
        <canvas class="segment" id="chart5"></canvas>
      </div>
      <div class="size" *ngIf="averageStepsOfRenovation">
        <canvas class="segment" id="chart6"></canvas>
      </div>
      
     </div>
  </div>
