<mat-card>
  <div class="header">
    <h1>{{ bloodBank.name }}</h1>
    <p class="configuration" (click)="showConfiguration()">
      Show configuration
    </p>
  </div>
  <div class="container">
    <div class="wraper">
      <mat-form-field appearance="fill" class="email">
        <mat-label>Email</mat-label>
        <input
          id="email"
          matInput
          placeholder="pat@example.com"
          required
          [(ngModel)]="bloodBank.email"
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" class="url">
        <mat-label>Url</mat-label>
        <input id="url" matInput required [(ngModel)]="bloodBank.apiUrl" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" class="key">
        <mat-label>Api Key</mat-label>
        <input
          id="apikey"
          matInput
          required
          [(ngModel)]="bloodBank.apiKey"
          [type]="hide ? 'password' : 'text'"
        />

        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="wraper__form">
        <div class="row">
          <mat-form-field appearance="fill" class="specialType">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="selected" (ngModelChange)="hideResponse()">
              <mat-option
                id="bloodtype"
                *ngFor="let type of bloodTypes; let i = index"
                [value]="type"
                >{{ bloodTypes[i] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button
            class="checkBlood"
            mat-raised-button
            (click)="checkBoodType(bloodBank.id)"
            color="primary"
          >
            Check
          </button>
          <div *ngIf="showAnwser">
            <label [ngClass]="showResponse ? 'response__pos' : 'response__neg'"
              >Bank <span *ngIf="showResponse">has</span>
              <span *ngIf="!showResponse">doesn't have</span> that blood
              type.</label
            >
          </div>
        </div>
        <!-- <br /> -->
        <div class="row">
          <mat-form-field appearance="fill" class="amount">
            <mat-label>Blood Amount</mat-label>
            <input
              id="bloodamount"
              matInput
              required
              [(ngModel)]="bloodBank.amount"
            />
          </mat-form-field>
          <!-- <br /> -->
          <button
            id="check"
            class="checkBlood"
            mat-raised-button
            (click)="checkBoodTypeAmount(bloodBank.id, bloodBank.amount)"
            color="primary"
          >
            Check
          </button>
          <div *ngIf="showAnwser1">
            <label [ngClass]="showResponse1 ? 'response__pos' : 'response__neg'"
              >Bank <span *ngIf="showResponse1">has</span>
              <span *ngIf="!showResponse1">doesn't have</span> that amount of
              blood type.</label
            >
          </div>
        </div>
      </div>
    </div>
    <fieldset class="conf-area" *ngIf="showConf">
      <legend>Report configuration</legend>
      <div>
        <div class="row">
          <mat-form-field appearance="fill" class="email">
            <mat-label>Frequency (in days)</mat-label>
            <input matInput required [(ngModel)]="bloodBank.frequently" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="email">
            <mat-label>Start date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="bloodBank.reportFrom"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="email">
            <mat-label>End date</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              [(ngModel)]="bloodBank.reportTo"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="saveBtn">
          <button
            mat-raised-button
            color="primary"
            (click)="saveConfiguration()"
          >
            <!--TODO binduj na klik-->
            Save
          </button>
        </div>
      </div>
    </fieldset>
    <fieldset class="conf-area" *ngIf="showConf">
      <legend>Monthly transfer configuration</legend>
      <div class="row">
        <mat-form-field appearance="fill" class="email">
          <mat-label>Start date</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            [(ngModel)]="bloodBank.monthlyTransfer.dateTime"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="wrapper">
        <div class="wrapper__elem">
          <div class="wrapper__elem-el">
            <label class="number__label">A+ </label>
            <input
              type="number"
              min="0"
              class="number__area"
              value="0"
              [(ngModel)]="bloodBank.monthlyTransfer.aPlus"
            />
          </div>
          <div class="wrapper__elem-el">
            <label class="number__label">B+ </label>
            <input
              type="number"
              min="0"
              class="number__area"
              value="0"
              [(ngModel)]="bloodBank.monthlyTransfer.bPlus"
            />
          </div>
          <div class="wrapper__elem-el">
            <label class="number__label">AB+ </label>
            <input
              type="number"
              min="0"
              class="number__area"
              value="0"
              [(ngModel)]="bloodBank.monthlyTransfer.aBPlus"
            />
          </div>
          <div class="wrapper__elem-el">
            <label class="number__label">O+ </label>
            <input
              type="number"
              min="0"
              class="number__area"
              value="0"
              [(ngModel)]="bloodBank.monthlyTransfer.oPlus"
            />
          </div>
        </div>
        <div class="wrapper__elem">
          <div class="wrapper__elem-el">
            <label class="number__label">A- </label>
            <input
              type="number"
              min="0"
              class="number__area"
              value="0"
              [(ngModel)]="bloodBank.monthlyTransfer.aMinus"
            />
          </div>
          <div class="wrapper__elem-el">
            <label class="number__label">B- </label>
            <input
              type="number"
              min="0"
              class="number__area"
              value="0"
              [(ngModel)]="bloodBank.monthlyTransfer.bMinus"
            />
          </div>
          <div class="wrapper__elem-el">
            <label class="number__label">AB- </label>
            <input
              type="number"
              min="0"
              class="number__area"
              value="0"
              [(ngModel)]="bloodBank.monthlyTransfer.aBMinus"
            />
          </div>
          <div class="wrapper__elem-el">
            <label class="number__label">O- </label>
            <input
              type="number"
              min="0"
              class="number__area"
              value="0"
              [(ngModel)]="bloodBank.monthlyTransfer.oMinus"
            />
          </div>
        </div>
      </div>
      <div class="saveBtn">
        <button mat-raised-button color="primary" (click)="updateMonthly()">
          <!--TODO binduj na klik-->
          Save
        </button>
      </div>
    </fieldset>
  </div>
</mat-card>
