.page {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
}

.page .left {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
}

.page .left .form {
  width: 70%;
  height: 70%;
}

.page .right {
  background-image: url("../../../../assets/img/login-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  width: 45%;
  position: relative;
  margin-top: 0;
}

.button {
  display: flex;
  justify-content: right;
}

.example-button-container {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
  margin-right: 5rem;
}
