.card {
  background-color: #fff;
  padding: 1rem 3rem;
  caret-color: transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .3s;
  width: 100%;
  height: 88.5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0.5rem 0rem;
    color: #0E4C92;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85%;
    width: 100%;

    &__header {
      display: flex;
      justify-content: flex-start;
      color: #0E4C92;
      font-size: 1.5rem;
      font-weight: 400;
      width: 100%;
    }

    &__topic {
      width: 50rem;
      resize: none;
      border-radius: 10px;
      background-color: rgba(203, 203, 210, .25);
      border: 0 none;
      outline: none;
      height: 100%;
      font-size: 1.5rem;
      padding: 1.5rem 1rem;
      caret-color: #0E4C92;
      color: #0E4C92;
    }

    &__datepicker {
      display: flex;
      width: 100%;
      height: 25%;
    }

    &__rooms {
      display: flex;
      width: 40rem;
      height: 25%;
    }
  }
}
