
.container {
  width: 100%;
  //height: 75vh;
  padding: 0.6%;
  border-radius: 3px;
  border-style: solid;
  border-color: white;
  background-color: white;
  flex-direction: column;
  overflow :auto ;
  max-height: 550px;
}


.table-header{
  padding: 1%;
  background-color : rgba(210,210,230,0.3);
}

.table-title {
  text-align: left;
  font-size: 2.5rem;
  padding-left: 1%;
  color: rgb(80, 80, 80);
}

.cell-center {
  text-align: left;
  padding: 1%;
  font-size: 18px;
}

.cell-center1 {
  text-align: left;
  font-size: 18px;
}
.mat-column-creator {
  width:220px;
  text-align: left;
  
}


