.list-element {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;

    a.active {
        opacity: 1;
        background: rgba(255,255,255,.23);
        transform: scale(1.05);    
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 1rem 1.5rem;
        border-radius: .4rem;
        padding: 1.5rem 2rem;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        text-transform: uppercase;
        transition-duration: .3s;

        &-icon {
            width: 2.25rem;
            height: 2.25rem;
            fill: #fff;
            margin-right: 1rem;
        }

        &-text {
            margin: 0;
        }
    }

    &__link:hover {
        opacity: 1;
        background: rgba(255, 255, 255, .23);
        transform: scale(1.05);
        transition-duration: .4s;
    }

    &__link:active {
        transform: scale(0.85);
        transition-duration: .5s;
    }
        
}
