<li class="list-element">
  <a
    routerLink="/app/appointments"
    class="list-element__link"
    routerLinkActive="active"
  >
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-calendar"></use>
    </svg>
    <span class="lsit-element_link-text">Appointments</span>
  </a>
</li>
<li class="list-element">
  <a routerLink="/app/show-treatments" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-treatment"></use>
    </svg>
    <span class="list-element_link-text">Treatments</span>
  </a>
</li>
<li class="list-element">
  <a routerLink="/app/vacation-requests/doctor" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-plane"></use>
    </svg>
    <span class="list-element_link-text">Vacation requests</span>
  </a>
</li>
<li class="list-element">
  <a
    routerLink="/app/anamnesis-perscriptions-review"
    class="list-element__link"
  >
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-file-text2"></use>
    </svg>
    <span class="list-element_link-text">Anamnesis and perscriptions</span>
  </a>
</li>
<li class="list-element">
  <a routerLink="/app/blood-request" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-blood"></use>
    </svg>
    <span class="list-element_link-text">Blood management</span>
  </a>
</li>
<li class="list-element">
  <a routerLink="/app/examination-statistics" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-statistics"></use>
    </svg>
    <span class="list-element_link-text">Statistics</span>
  </a>
</li>
