.tab{
    //min-width: 0px !important;
    width: 100% !important;
}

.tab-group{
    width: 100%;
    margin: 0%;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 60px!important;
    padding: 3px!important;
    margin: 3px!important;
   }

::ng-deep .mat-tab-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
