.outter4{
    width: 60%;
    height: 60%;
    border: solid #4c5d72;
    display: grid;
    grid-template-rows: 30% 70%;
    background-color: white;
}
.outtter{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.blodes{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 50% 50%;
   
    
    
}
.otheres{
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns:100%;
    justify-content: center;
    
}
.smtng{
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.blodeSelect{
    text-align: center;
}
.reasoning{
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
    text-align: center;
    width: 100%;
}
.reasoningField{
    height: 160px;
    resize: none;
    border-radius: 10px;
    grid-column-start: 1;
    background-color: #eef0f5;
    width: 250px;
    margin: auto;
}
.btuon{
    margin: auto;
    text-align: center;
    border-radius: 10px;
    width: 100px;
}
.btuonOutter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sldier{
    background-color:#eef0f5;
    border-radius: 10px;
}