// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-internal-primary: mat.define-palette(mat.$indigo-palette);
$frontend-internal-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$frontend-internal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-internal-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-internal-primary,
      accent: $frontend-internal-accent,
      warn: $frontend-internal-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@import "../../node_modules/angular-calendar/css/angular-calendar.css";
@include mat.all-component-themes($frontend-internal-theme);
@import './helpers/mixins';
@import './helpers/variables';

/* You can add global styles to this file, and also import other style files */

html,
body {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(137, 171, 245, 0.37) 0%,
    rgba(245, 247, 252, 1) 100.2%
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-y: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-y: hidden;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* success styling for mat-button, just use color="success" and that's it */
.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}

.text-white {
  color: white;
}

md-tab-group {
  height: 100%;
  width: 100%;
}

.mat-tab-body-content{
  overflow: hidden !important;
  width: 100% !important;
}

.mat-tab-body.mat-tab-body-active {
  overflow: hidden !important;
  width: 100% !important;
}

.mat-tab-body-wrapper {
  height: 100% !important;
}


.wrapper-card {
  height: 100%;
  width: 100%;
  background-color: $color-white;
  box-shadow: $wrapper-card-box-shadow;
  padding: 2rem 3rem;
  box-sizing: border-box;
  border-radius: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.card-header {
  height: 8%;
  width: 100%;
  margin-bottom: 1rem;
}

.card-content {
  height: calc(92% - 1rem);
  width: 100%;
}

.theme-button {
  border: 1px solid $button-color-primary;
  font-weight: 600;
  border-radius: .5rem;
  padding: .7rem .7rem;
  transition: all .3s;

  &:hover {
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer;
    background-color: $button-color-primary;
    color: white;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
    transform: none;
    background-color: white;
    
    color: $button-color-primary;
  }
}

.btn-bg-blue {
  background-color: $color-white;
  color: $button-color-primary;
  border: 1px solid $button-color-primary;

  &:hover {
    background-color: $button-color-primary;
    color: white;
  }

  &:disabled {
    background-color: $color-white;
    color: $button-color-primary;
  }
}

.btn-bg-green {
  background-color: $color-white;
  color: $button-color-green;
  border: 1px solid $button-color-green;

  &:hover {
    background-color: $button-color-green;
    color: $color-white;
  }

  &:disabled {
    background-color: $color-white;
    color: $button-color-green;
  }
}

.btn-bg-red {
  background-color: $color-white;
  color: $button-color-red;
  border: 1px solid $button-color-red;
  
  &:hover {
    background-color: $button-color-red;
    color: $color-white;
  }

  &:disabled {
    background-color: $color-white;
    color: $button-color-red;
  }
}
