<li class="list-element">
  <a routerLink="/app/display" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-file-text2"></use>
    </svg>
    <span class="lsit-element_link-text">Manager</span>
  </a>
</li>
<li class="list-element">
  <a routerLink="/app/vacation-requests-display" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-file-text2"></use>
    </svg>
    <span class="lsit-element_link-text">Vacation requests</span>
  </a>
</li>
<li class="list-element">
  <a
    routerLink="/app/bloodbank"
    class="list-element__link"
    routerLinkActive="active"
  >
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-apartment"></use>
    </svg>
    <span class="list-element_link-text">Blood banks</span>
  </a>
</li>
<li class="list-element">
  <a routerLink="/app/show-tenders" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-file-text2"></use>
    </svg>
    <span class="list-element_link-text">Tenders</span>
  </a>
</li>
<li class="list-element">
  <a routerLink="/app/feedback" class="list-element__link" id="feedback">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-file-text2"></use>
    </svg>
    <span class="list-element_link-text">Feedback</span>
  </a>
</li>
<li class="list-element">
  <a routerLink="/app/blood-request" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-blood"></use>
    </svg>
    <span class="list-element_link-text">Blood Requests</span>
  </a>
</li>
<li class="list-element">
  <a routerLink="/app/newsfeed" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/newsfeed.svg#Capa_1"></use>
    </svg>
    <span class="list-element_link-text">Newsfeed</span>
  </a>
</li>
<li class="list-element">
  <a
    routerLink="/app/statistics"
    class="list-element__link"
    routerLinkActive="active"
  >
    <!-- <svg class="list-element__link-icon">
          <use xlink:href="../../../assets/SVG/sprite.svg#icon-calendar"></use>
        </svg> -->
    <mat-icon class="list-element__link-icon">insert_chart</mat-icon>
    <span class="list-element_link-text"> Statistics</span>
  </a>
</li>
<li>
  <a routerLink="/app/blood-request-view" class="list-element__link">
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-file-text2"></use>
    </svg>
    <span class="list-element_link-text">Reconsider Blood Request</span>
  </a>
</li>
<li class="list-element">
  <a
    routerLink="/app/blockpatients"
    class="list-element__link"
    routerLinkActive="active"
  >
    <svg class="list-element__link-icon">
      <use xlink:href="../../../assets/SVG/sprite.svg#icon-users"></use>
    </svg>
    <span class="list-element_link-text">Block Patients</span>
  </a>
</li>
<li class="list-element">
  <a
    routerLink="/app/renovation/statistics"
    class="list-element__link"
    routerLinkActive="active"
  >
    <mat-icon class="list-element__link-icon">insert_chart</mat-icon>
    <span class="list-element_link-text">Renovation Statistics</span>
  </a>
</li>
