@import './../../../../../../styles/helpers/variables';

.container {
  height: 45rem;
  width: 100%;
  padding: 1rem 3rem;
  margin-top: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.3);
    background-color: rgba($sidebar-color-secondary, 0.35);
    border-radius: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.5);
    background-color: rgba($sidebar-color-secondary, 1);
  }

  &-table {
    width: 100%;
    flex: 1;
    max-height: 38rem;
    overflow-y: scroll;
  }
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.table-row {
  min-height: 7rem !important;
  max-height: 7rem !important;
}

.mat-column {
  // width: 3rem;
}

.mat-row:hover {
  background-color: rgba($sidebar-color-secondary, 0.1);
  cursor: default;
  caret-color: transparent;
}

.mat-header-cell {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: $sidebar-color-secondary;
  width: auto;
}

.mat-cell {
  color: $sidebar-color-secondary;
}
