<mat-dialog-content class="content">
  <button class="close" mat-button mat-dialog-close="canceled">X</button>
  <h2 mat-dialog-title class="title">Reason for rejection</h2>
  <textarea class="textBox" #managerComment></textarea>
  <mat-dialog-actions class="buttons">
    <button class="button2" mat-button mat-dialog-close mat-dialog-close="canceled">Cancel</button>
    <button class="button1" mat-button mat-dialog-close mat-dialog-close="{{managerComment.value}}">Reject</button>
  </mat-dialog-actions>
</mat-dialog-content>
