@import "../../../styles/helpers/variables";
.container {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 2rem 5rem;
    margin-top: 5rem;
    background: white;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .content__elem {
    width: 40rem;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    
  }
  .content__elem-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .showDown {
    background-color: rgb(167, 167, 167);
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
  }
  
  .tender__title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .offers__elem {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
  }
  .acceptBtn {
    background-color: green;
    color: white;
    font-weight: bold;
  }
  .acceptBtn:hover {
    background-color: white;
    color: green;
  }

  .createTenderButton{
    margin-right: 1rem;
    padding: 0.1rem 0.3rem;
    width: 12rem;
    background-color: white;
    border: 1px solid #0E4C92;
    font-weight: 600;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border-radius: 0.5rem;
    color: #0E4C92;
    transition: 0.2s;
    height: 3rem;
}
.createTenderButton:hover{
  transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
    background-color: #0E4C92;
    color: white;
}
.tender{
  height: 30px;
    font-size: 2rem;
    color: #537895;
    font-weight: 600;
}
.TopBar{
  display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    column-gap: 20px;
    width: 100%;
    height: 10%;
    border-bottom: solid #4c5d72;
}
  
/*
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
  margin-top: 5rem;
  background: white;
}
*/
.content {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 3rem;
  text-align: center;
}

.content__elem {
  width: 70rem;
  background: rgb(240, 238, 238);
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showDown {
  background-color: rgb(167, 167, 167);
  border-radius: 5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  margin-right: 2rem;
}

.tender__title {
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.offers__elem {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.acceptBtn {
  background-color: green;
  color: white;
  font-weight: bold;
}
.acceptBtn:hover {
  background-color: white;
  color: green;
}
.showItems{
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.tenderItems-show{
  display: flex;
  flex-direction: column;
}
.tender-item{
  padding-left: 0.3rem;
}
-------
.btn-top{
  margin-right: 3rem;
}
.btn-group{
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.btn-group{
  display: flex;
  flex-direction: row;
}

.card-header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
}

.title{
  font-weight: 900;
  font-size: 2.5rem;
  color: #0E4C92;
}

.mat-tab-label{
  font-size: 20px !important;
} 
.tab{
  height: 80%;
}
mat-tab-group{
  height: 100%;
}