<div class="container">
  <div class="content">
    <div class="title">
      <h1>Active Tenders</h1>
    </div>
    <div *ngFor="let tender of tenders; let i = index">
      <div class="content__elem">
        <div>
          <p class="tender__title">
            Tender {{ tender.id }} #{{ getStatus(tender.status) }}
          </p>
        </div>
        <div>
          <button (click)="showOffersEvent(i)" class="showDown">v</button>
        </div>
      </div>
      <div class="offers" *ngIf="showOffers[i]">
        <div class="offers__elem">
          <p>Offer number 1</p>
          <p>Price</p>
          <button class="acceptBtn">Accept</button>
        </div>
        <div class="offers__elem">
          <p>Offer number 1</p>
          <p>Price</p>
          <button class="acceptBtn">Accept</button>
        </div>
      </div>
    </div>
  </div>
</div>
