<div class="wrapper-card">
  <div class="card-header">
    <label class="title">TENDER</label>
    <div class="btn-group">
      <button
        class="theme-button btn-bg-blue btn-top"
        (click)="createTenderPage()"
      >
        OPEN TENDER
      </button>
      <button class="theme-button btn-bg-blue btn-top" (click)="openDialog()">
        TENDER REPORT
      </button>
    </div>
  </div>
  <div class="card-content">
    <mat-tab-group>
      <mat-tab label="Open tenders" class="tab">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
              <mat-panel-description>
                Currently I am {{ panelOpenState ? "open" : "closed" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="Closed tenders" class="tab"> Content 2 </mat-tab>
    </mat-tab-group>
  </div>
</div>
<!-- <div class="TopBar">
  <label for="tender" class="tender">Tender</label>
  <button class="createTenderButton" (click)="createTenderPage()">
    Open Tender
  </button>
  <button class="createTenderButton" (click)="openDialog()">
    Tender report
  </button>
</div>
<div class="container">
  <div class="content">
    <div class="title">
      <h1>Active Tenders</h1>
    </div>
    <div *ngFor="let tender of tenders; let i = index">
      <div class="content__elem">
        <div class="content__elem-header">
          <div>
            <p class="tender__title">
              Tender {{ tender.id }} #{{ getStatus(tender.status) }}
            </p>
          </div>
          <div>
            <button (click)="showOffersEvent(i)" class="showDown">v</button>
          </div>
        </div>
        <div *ngIf="showOffers[i]" class="showItems">
          <div class="tenderItems-show">
            <p *ngFor="let item of tender.items" class="tender-item">
              {{ bloodTypes[item.bloodType] }}: {{ item.quantity }}
            </p>
          </div>
          <p>Total price:{{ calculateTenderOffers(tender) }}</p>
        </div>
      </div>
      <div class="offers" *ngIf="showOffers[i]">
        <div *ngIf="tender.offers.length === 0">
          <div class="offers__elem">
            <p>Nema jos aktivnih ponuda za ovaj tender.</p>
          </div>
        </div>
        <div *ngFor="let offer of tender.offers; let i = index">
          <div class="offers__elem">
            <p>
              Offer number #{{ offer.id }} by <b>{{ offer.offeror.name }}</b>
            </p>
            <p>{{ calculateTenderOffers(offer) }}$</p>
            <button class="acceptBtn" (click)="accept(tender.id, i)">
              Accept
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
