.grid-container{
    display: grid;
    border: solid #4c5d72;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-align: center;
    margin-left: 15%;
    max-width: 800px;
    height: 300px;
    margin-top: 5%;
    align-items: center;
    background-color: white;
    font-weight: bold;
}
.single{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    background-color: #eef0f5;
    border-radius: 10px;
}
.reason{
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    width: 200px;
   

}
.input1{
    max-width: 150px;
    height: 30px;
    margin: auto;
    text-align: center;
}

.buttonConf{

    width: 150px;
    text-align: center;
    height: 35px;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px solid #eef0f5;
    font-weight: bold;

}

.buttonConf:hover{
    background-color: #4c5d72;
}

.reasonField{
    width: 150px;
    height: 20px;
    resize: none;
    border-radius: 10px;
    background-color: #eef0f5;
}
.bloodSelect{
    text-align: center;    
    height: 30px;
}
.dateField{
    height: 30px;
    text-align: center;
    
}


.header{
    border-bottom: 1px solid #3f51b5;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  h1{
    display: inline;
  }
  .container {
    margin-top:2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
  }
  
  .response__pos{
    color: green;
  }
  
  .response__neg{
    color: red;
  }
  
  .email,.key,.url{
    width: 25rem;
  }
  
  .specialType,.amount{
    width: 18rem;
  }
  .checkBlood{
    width: 7rem;
    height: 4.4rem;
  }
  
  .row{
    display: flex;
    align-items: stretch;
  }
  
  a{
    display: inline;
    text-align: center;
  }
  
  .configuration{
    color: #3f51b5;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .conf-area{
    border-radius: 5px;
    border: 1px solid rgb(186, 184, 184);
  }
  
  legend{
    color: #3f51b5;
  }
  
  .saveBtn{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
  
  .wrapper{
    margin: 0.5rem;
    width: 24rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  .wrapper__elem{
    display: flex;
    flex-direction: column;
  }
  .wrapper__elem-el{
    display: flex;
    justify-content: space-between;
    width: 10rem;
    margin-bottom: 1rem;
  }
  
  .number__area{
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .number__label{
    font-size: medium;
    font-weight: 500;
  }

  .cont{
    padding:0rem 3rem 3rem 3rem;
    &__title{
      font-weight: 500;
      margin: auto;
    }
  }

  .title-wrapper{
    text-align: center;
    margin-bottom: 3rem;
  }

