<div class="grid-container">
  <div class="single">
    <label>BloodType</label>
    <mat-form-field class="bloodSelect">
      <mat-select [(ngModel)]="bloodType">
        <mat-option value="A_PLUS">A+</mat-option>
        <mat-option value="A_MINUS">A-</mat-option>
        <mat-option value="B_PLUS">B+</mat-option>
        <mat-option value="B_MINUS">B-</mat-option>
        <mat-option value="AB_PLUS">AB+</mat-option>
        <mat-option value="AB_MINUS">AB-</mat-option>
        <mat-option value="O_PLUS">O+</mat-option>
        <mat-option value="O_MINUS">O-</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="single">
    <label>Quanity</label>
    <mat-slider
      min="1"
      max="20"
      step="1"
      thumbLabel
      tickInterval="1"
      [(ngModel)]="quantity"
    ></mat-slider>
  </div>

  <div class="single">
    <label>End date</label>
    <mat-form-field appearance="fill" class="email">
      <input matInput [matDatepicker]="picker1" [(ngModel)]="dateSelected" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="single">
    <label>Money amount</label>
    <textarea
      [(ngModel)]="moneyAmount"
      class="reasonField"
      placeholder="Enter price in €"
    ></textarea>
  </div>

  <button (click)="createTender()" class="buttonConf">Confirm</button>
</div>
