.grid-container{
    display: grid;
    border: solid #4c5d72;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-align: center;
    margin-left: 15%;
    max-width: 800px;
    height: 300px;
    margin-top: 5%;
    align-items: center;
    background-color: white;
    font-weight: bold;
}
.single{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    background-color: #eef0f5;
    border-radius: 10px;
}
.reason{
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    width: 200px;
   

}
.input1{
    max-width: 150px;
    height: 30px;
    margin: auto;
    text-align: center;
}

.buttonConf{

    width: 150px;
    text-align: center;
    height: 35px;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px solid #eef0f5;
    font-weight: bold;

}

.buttonConf:hover{
    background-color: #4c5d72;
}

.reasonField{
    width: 150px;
    height: 20px;
    resize: none;
    border-radius: 10px;
    background-color: #eef0f5;
}
.bloodSelect{
    text-align: center;    
    height: 30px;
}
.dateField{
    height: 30px;
    text-align: center;
    
}


