<div>
  <table mat-table [dataSource]="relocationRequests" class="mat-elevation-z8">
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>From/To</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fromRoomNumber }} {{ element.toRoomNumber }}
      </td>
    </ng-container>
    <!--
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef>To</th>
      <td mat-cell *matCellDef="let element">
        {{ element.toRoomNumber }}
      </td>
    </ng-container>
    -->
    <ng-container matColumnDef="equipmentType">
      <th mat-header-cell *matHeaderCellDef>Type of equipment</th>
      <td mat-cell *matCellDef="let element">
        {{ convertEnum(element.equipmentType) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef>Start time</th>
      <td mat-cell *matCellDef="let element">
        {{ element.startTime | date: "dd.MM.yyyy. HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration(h)</th>
      <td mat-cell *matCellDef="let element">
        {{ element.duration }}
      </td>
    </ng-container>
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          class="theme-button btn-bg-red"
          id="decline-relocation"
          *ngIf="check24h(element.startTime)"
          (click)="decline(element.id)"
        >
          Decline
        </button>
      </td>
    </ng-container>

    <!--
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button (click)="relocateEquipment(element)">Move</button>
      </td>
    </ng-container>
    -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
