<div class="stepper-container">
  <div class="stepper-wrapper">
    <mat-icon class="close-icon" (click)="closeStepper()">close</mat-icon>

    <mat-stepper
      orientation="horizontal"
      [linear]="
        !(
          quantityForm.valid &&
          destinationRoomForm.valid &&
          periodForm.valid &&
          durationForm.valid
        )
      "
      class="stepper"
      #stepper
    >
      <mat-step [stepControl]="quantityForm">
        <form [formGroup]="quantityForm">
          <!-- <app-first-step-form [quantity]="quantity"></app-first-step-form> -->
          <mat-form-field appearance="fill">
            <mat-label>Equipment quantity</mat-label>
            <input
              formControlName="quantity"
              matInput
              type="number"
              required
              max="{{ equipment.quantity - equipment.reservedQuantity }}"
              min="0"
            />
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="destinationRoomForm">
        <form [formGroup]="destinationRoomForm">
          <mat-form-field appearance="fill">
            <mat-label>Destination room</mat-label>
            <mat-select formControlName="room">
              <mat-option
                value="{{ destRoom.room.id }}"
                *ngFor="let destRoom of destinationRooms"
              >
                {{ destRoom.room.number }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="periodForm">
        <form [formGroup]="periodForm">
          <mat-form-field appearance="fill">
            <mat-label>Start date</mat-label>
            <input formControlName="startDate" matInput type="date" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>End date</mat-label>
            <input formControlName="endDate" matInput type="date" />
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form [formGroup]="durationForm">
          <mat-form-field appearance="fill">
            <mat-label>Relocation duration in hours</mat-label>
            <input formControlName="duration" matInput type="number" min="0" />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="recommend()">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <mat-spinner *ngIf="showSpinner"></mat-spinner>
        <form [formGroup]="startTimeForm">
          <mat-selection-list [multiple]="false" formControlName="startTime">
            <mat-list-option
              value="{{ dateTime }}"
              *ngFor="let dateTime of dateTimes"
            >
              {{ dateTime | date : "dd.MM.yyyy HH:mm" }}
            </mat-list-option>
          </mat-selection-list>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="finishRelocation()">
              Schedule
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
