<div class="sidebar-wrapper">
  <div class="logo">
    <div class="logo__icon-box">
      <img src="../../../assets/SVG/Hp.svg" class="logo__icon-hospital" />
      <a
        routerLink="/app/appointments"
        class="logo__simple-text"
        *ngIf="role === 'Doctor'"
      >
        Hospital
      </a>
      <a
        routerLink="/app/display"
        class="logo__simple-text"
        *ngIf="role === 'Admin'"
      >
        Hospital
      </a>
    </div>
  </div>
  <ul class="nav responsive-nav">
    <app-doctor-sidebar *ngIf="role === 'Doctor'"></app-doctor-sidebar>
    <app-manager-sidebar *ngIf="role === 'Admin'"></app-manager-sidebar>
  </ul>
</div>
