<div class="sidebar-wrapper">
  <div class="logo">
    <div class="logo__icon-box">
      <svg class="logo__icon-hospital">
        <use xlink:href="../../../assets/SVG/sprite.svg#icon-apartment"></use>
      </svg>
      <a routerLink="/" class="logo__simple-text"> Hospital </a>
    </div>
  </div>
  <ul class="nav responsive-nav">
    <li class="list-element">
      <a
        routerLink="/appointments"
        class="list-element__link"
        routerLinkActive="active"
      >
        <svg class="list-element__link-icon">
          <use xlink:href="../../../assets/SVG/sprite.svg#icon-calendar"></use>
        </svg>
        <p>Appointments</p>
      </a>
    </li>
    <li class="list-element">
      <a
        routerLink="/patients"
        class="list-element__link"
        routerLinkActive="active"
      >
        <svg class="list-element__link-icon">
          <use xlink:href="../../../assets/SVG/sprite.svg#icon-users"></use>
        </svg>
        <p>Patients</p>
      </a>
    </li>
    <li class="list-element">
      <a routerLink="/" class="list-element__link">
        <svg class="list-element__link-icon">
          <use xlink:href="../../../assets/SVG/sprite.svg#icon-aid-kit"></use>
        </svg>
        <p>Medicines</p>
      </a>
    </li>
    <li class="list-element">
      <a routerLink="/" class="list-element__link">
        <svg class="list-element__link-icon">
          <use
            xlink:href="../../../assets/SVG/sprite.svg#icon-file-text2"
          ></use>
        </svg>
        <p>Requests</p>
      </a>
    </li>
    <li class="list-element">
      <a routerLink="/display" class="list-element__link">
        <svg class="list-element__link-icon">
          <use
            xlink:href="../../../assets/SVG/sprite.svg#icon-file-text2"
          ></use>
        </svg>
        <p>Manager</p>
      </a>
    </li>
  </ul>
</div>
