<div class="sidebar-wrapper">
  <div class="logo">
    <div class="logo__icon-box">
      <svg class="logo__icon-hospital">
        <use xlink:href="../../../assets/SVG/sprite.svg#icon-apartment"></use>
      </svg>
      <a routerLink="/" class="logo__simple-text"> Hospital </a>
    </div>
  </div>
  <ul class="nav responsive-nav">
    <app-doctor-sidebar *ngIf="role === 'Doctor'"></app-doctor-sidebar>
    <app-manager-sidebar *ngIf="role === 'Admin'"></app-manager-sidebar>

    <li class="list-element">
      <a
        routerLink="/app/blockpatients"
        class="list-element__link"
        routerLinkActive="active"
      >
        <svg class="list-element__link-icon">
          <use xlink:href="../../../assets/SVG/sprite.svg#icon-users"></use>
        </svg>
        <span class="list-element_link-text">Block Patients</span>
      </a>
    </li>
    
  </ul>
</div>
