@import '../../../styles/helpers/variables';

.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 96);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 1.98rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__header {
    color: #777;
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  &__button {
    color: $button-color-primary;
    background-color: white;
    border-radius: 5rem;
    border: 2px solid $button-color-primary;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0.7rem 1.5rem;
    font-weight: 600;
  }

  &__button:hover {
    cursor: pointer;

  }

  &__profile {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    

    &-text {
      color: #777;
      font-size: 1.5rem;
      margin-right: .5rem;
    }
    

    &-icon {
      height: 3rem;
      width: 3rem;
      margin-left: 1rem;
      background-image: url('../../../assets/img/user.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      fill: #777;
      transition: all ease-out .5s;

      &:hover {
        transform: scale(1.05);
        transition: all ease-out .5s;
      }
    }
  }
}
