@import './../../../styles/helpers/mixins';
@import './../../../styles/helpers/variables';

.tender-card{
    @include card-dynamic(100%, 20%);
    background-color: aqua;
}

.offer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.offer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
}
mat-panel-description{
    display: flex; 
    justify-content: space-around;
}
.content{
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem;
}

.offer-footer{
    display: flex;
    justify-content: flex-end;
}

.item {
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mat-accordion>.mat-expansion-panel-spacing:first-child {
    margin-top: 1.5rem;
}

mat-panel-description[_ngcontent-mpn-c330] {
    align-items: center;
}