<div class = "container">
    <div class="form">
        <div class="form__column">
            <label class = "form__column__label" >Choose when you want vacation</label>
            <mat-form-field appearance="fill">
                <mat-label>From - To</mat-label>
                <mat-date-range-input [formGroup] = "range" [rangePicker]="picker">
                    <input matStartDate formControlName = "from" placeholder="From"  required>
                    <input matEndDate formControlName = "to" placeholder="To"  required>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <br>
            <label class = "form__column__label">Is it urgent?</label>
            
            <input  type="checkbox" (change)="onChange()">
            

            <label class = "form__column__label">Reason why you want vacation</label>
            <mat-form-field appearance="fill">
                <mat-label>Reason</mat-label>
                <textarea matInput matTextAreaAutoSize [(ngModel)] = "comment"></textarea>
            </mat-form-field>

            <button (click)="createVacationRequest()">Create Vacation Request</button>
            
        </div>
    </div>
</div>