.bu-card {

    width: 100%;
    background: #333333;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #aa1818, #333333);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #aa1818, #333333);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all .5s;

    &:hover {
        transform: scale(1.05);
        transition: all .5s;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        cursor: pointer;
    }

    &__circle {
        height: 17rem;
        width: 17rem;
        //border: 1rem solid #fa4299;
        border-radius: 50%;
        position: relative;

        &-bar {
            
        }

        &-box {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;

            &-text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 5rem;
                font-weight: 600;
            }
        }
    }

    &__text {
        
        font-family: sans-serif;
        font-weight: 600;
        color: #fff;
        display: flex;
        flex-direction: column;

        .header {
            text-align: center;
            font-size: 2rem;
            margin-bottom: .5rem;
        }

        .percentage {
            text-align: center;
            font-size: 1.3rem;
        }
    }
}