.cont {
  padding-bottom: 7rem;
  h1 {
    color: black;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
  }
}
.table-wrap {
  display: flex;
  flex-direction: column;
}
.component {
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1rem;
}
.table tr:hover {
  cursor: pointer;
}
.table th {
  background-color: darkblue;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

@media (max-width: 1000px) {
  .table {
    width: 80%;
  }
  .edit,
  .delete {
    display: none;
  }
}
@media (max-width: 600px) {
  .table {
    width: 80%;
  }
  .email {
    display: none;
  }
}
