<mat-card>
  <div class="container">
    <div class="table-header">
      <p>Blood banks</p>
      <button
        mat-mini-fab
        matTooltip="New blood bank"
        matTooltipPosition="right"
        (click)="addBloodBank()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="cell-center">Name</th>
        <td
          mat-cell
          *matCellDef="let bloodBank"
          class="clickable cell-center"
          (click)="detailBloodBank(bloodBank.id)"
        >
          {{ bloodBank.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="cell-center">Email</th>
        <td mat-cell *matCellDef="let bloodBank" class="cell-center">
          {{ bloodBank.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="apiUrl">
        <th mat-header-cell *matHeaderCellDef class="cell-center">API URL</th>
        <td mat-cell *matCellDef="let bloodBank" class="cell-center">
          {{ bloodBank.apiUrl }}
        </td>
      </ng-container>
      <ng-container matColumnDef="getBloodTypeAvailability">
        <th mat-header-cell *matHeaderCellDef class="cell-center">
          GET blood types endpoint
        </th>
        <td mat-cell *matCellDef="let bloodBank" class="cell-center">
          {{ bloodBank.getBloodTypeAvailability }}
        </td>
      </ng-container>
      <ng-container matColumnDef="getBloodTypeAndAmountAvailability">
        <th mat-header-cell *matHeaderCellDef class="cell-center">
          GET blood types by ammount endpoint
        </th>
        <td mat-cell *matCellDef="let bloodBank" class="cell-center">
          {{ bloodBank.getBloodTypeAndAmountAvailability }}
        </td>
      </ng-container>
      <ng-container matColumnDef="updateAndDeleteActions">
        <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
        <td mat-cell *matCellDef="let room" class="cell-center">
          <button
            mat-icon-button
            (click)="updateBloodBank(room.id)"
            color="primary"
          >
            <mat-icon matTooltip="Update">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteBloodBank(room.id)"
            color="warn"
          >
            <mat-icon matTooltip="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
