<h2 mat-dialog-title class="header">New stacionary treatment</h2>
<div class="content">
  <div class="content__elements">
    <mat-form-field appearance="fill" class="content__elements__combo">
      <mat-label>Patients</mat-label>
      <mat-select [(ngModel)]="newMedicalTreatment.patientId">
        <mat-option *ngFor="let p of patients" [value]="p.id"
          >{{ p.firstName | titlecase }}
          {{ p.lastName | titlecase }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="content__elements__combo">
      <mat-label>Available rooms</mat-label>
      <mat-select [(ngModel)]="newMedicalTreatment.roomId">
        <mat-option *ngFor="let r of rooms" [value]="r.id"
          >Building: {{ r.floor.building.name }} Number: {{ r.number }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <textarea
      class="text"
      placeholder="Please enter admittance reason."
      [(ngModel)]="newMedicalTreatment.admittanceReason"
    ></textarea>
  </div>
  <div class="content__actions">
    <div #back class="content__actions__button" (click)="closeDialog()">
      Back
    </div>
    <div
      #create
      class="content__actions__button margin-left"
      (click)="createTreatment()"
    >
      Create
    </div>
  </div>
</div>
