<h2 mat-dialog-title>New stacionary treatment</h2>
<div class="content">
  <div class="content__elements">
    <mat-form-field appearance="fill">
      <mat-label>Patients</mat-label>
      <mat-select>
        <mat-option *ngFor="let p of patients" [value]="p.id"
          >{{ p.firstName | titlecase }}
          {{ p.lastName | titlecase }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Available rooms</mat-label>
      <mat-select>
        <mat-option *ngFor="let r of rooms" [value]="r.id"
          >Building: {{ r.floor.building.name }} Number: {{ r.number }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <textarea
      class="text"
      placeholder="Please enter admittance reason."
    ></textarea>
  </div>
  <div class="content__actions">
    <div class="content__actions__button" (click)="closeDialog()">Back</div>
    <div class="content__actions__button margin-left">Create</div>
  </div>
</div>
