@import '../../../../../../styles/helpers/variables';

.flex-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    padding-top: 3rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.3);
        background-color: rgba($sidebar-color-secondary, 0.35);
        border-radius: .5rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.5);
        background-color: rgba($sidebar-color-secondary, 1);
    }

    .chart {
        height: 95%;
        width: 99%;
        position: relative;
        margin-bottom: 10rem;
        border-radius: 1rem;
        padding: 3rem, 0rem;

        &__canvas {
            height: 100%;
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}