.content{
    overflow-y: auto;
    height: 100%;
}

.item {
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mat-accordion>.mat-expansion-panel-spacing:first-child {
    margin-top: 1.5rem;
}

mat-panel-description[_ngcontent-mpn-c330] {
    align-items: center;
}