table{
    width: 100%;
    background-color: #537895;
    border-radius: 10px;
    margin-top: 15px;
    border-collapse: separate;
    border: 1px solid #537895;
    border-radius: 10px;
    tr th{
        color:white;
        border: 1px solid #537895;
        border-radius: 10px;
    }
    tr td{
        color:white;
        padding: 10px;
        border: 1px solid #537895;
        border-radius: 10px;
    }
}