@import '../../../styles/helpers/variables';

.widest{
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
    width: 100%;
    
}
.acquisitionsTable{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
            width: 1rem;
        }
    
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.3);
        background-color: rgba($sidebar-color-secondary, 0.35);
        border-radius: .5rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.5);
        background-color: rgba($sidebar-color-secondary, 1);
    }
}
.acqTopBar{
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    column-gap: 20px;
    width: 100%;
    height: 100%;
    border-bottom: solid #4c5d72;
}
.labelOne{
    height: 30px;
    font-size: 2rem;
    color: $sidebar-color-secondary;
    font-weight: 600;
}
.acquisitionButton{
    height: 30px;
    width: 100px;
    border-radius: 10px;
}
.expenditureButton{
    height: 30px;
    width: 100px;
    border-radius: 10px;
}
table {
    width: 100%;
    border: 1px solid $sidebar-color-secondary;
    color: $sidebar-color-secondary;
    overflow-y: scroll;
    overflow-x: none;

    th {
        color: $sidebar-color-secondary;
        font-weight: 600;
        font-size: 1.7rem;
    }

    td {
        color: rgba($sidebar-color-secondary, 0.8)
    }
}


.button {
    margin-right: 1rem;
    padding: .1rem .3rem;
    width: 9rem;
    background-color: white;
    border: 1px solid $button-color-primary;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .5rem;
    color: $button-color-primary;
    transition: .2s;
    height: 3rem;

    &:hover {
        transform: scale(1.05);
        transition: .2s;
        cursor: pointer;
        background-color: $button-color-primary;
        color: white;
    }

    &:disabled {
        transform: none;
        border: none;

        &:hover {
            background-color: white;
            color: lightgray;
            cursor: default;
        }
    }
}