<form class="details-form" (submit)="editFloor(purpose.value, $event)">
    <div class="blocks">
      <div class="details">
        <mat-form-field>
          <mat-label>Broj sprata</mat-label>
          <input
            class="inputText"
            matInput
            disabled="isDisabled"
            value="{{ this.room.floor.number }}"
          />
        </mat-form-field>
      </div>
      <div class="details">
        <mat-form-field>
          <mat-label>Svrha sprata</mat-label>
          <input
            required
            class="inputText"
            matInput
            [disabled]='isDisabled'
            value="{{ this.room.floor.purpose }}"
            #purpose
          />
        </mat-form-field>
      </div>
      <div class="button1">
        <button class="button-edit" mat-button class="button" (click)="enableFields()" type="button">Edit</button>
    </div>
    <div class="button2">
        <input (submit)="editFloor(purpose.value, $event)" class="button-save"  type="submit" value="Save">
    </div> 
    </div>
  </form>
  
