<form class="details-form">
  <div class="blocks">
    <div class="details">
      <mat-form-field>
        <mat-label>Naziv zgrade</mat-label>
        <input
          class="inputText"
          matInput
          disabled="isDisabled"
          value="{{ room?.floor?.building?.name }}"
        />
      </mat-form-field>
    </div>
    <div class="details">
      <mat-form-field>
        <mat-label>Adresa zgrade</mat-label>
        <input
          class="inputText"
          disabled="isDisabled"
          matInput
          value="{{ room?.floor?.building?.address }}"
        />
      </mat-form-field>
    </div>
  </div>
</form>
