@import './../../../../../styles/helpers/variables';

.card {
  background-color: #fff;
  background-image: url('./../../../../../assets/img/vector-blue.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem 1.5rem;
  caret-color: transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .3s;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0.5rem;
    color: #0E4C92;
  }

  &__content {
    display: flex;
    justify-content: center;
    height: 85%;
    width: 100%;
  }
}

.mat-selection-list {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.mat-list-option {
  color: #0E4C92;
  font-size: 1.4rem;

  &:not(:last-child) {
    border-bottom: 0.1rem solid #0E4C92;
  }
}

.mat-list-disabled-option {
  pointer-events: none;
  opacity: 0.6;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked {
  background: #0E4C92;
}
