@import '../../../styles/helpers/variables';
@import '../../../styles/helpers/typography';

.examinations-wrapper {
    background-color: whitesmoke;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: $card-box-shadow;

    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .exam-stepper {
        height: 93%;
        border-radius: 1.5rem;
        padding: 2% 5%;
    }

    .drag-drop {
        display: flex;
        justify-content: space-between;
        padding: 0rem 5rem;

        .symptom-container {
            min-height: 6rem;
            max-height: 35rem;
            background: white;
            border-radius: 4px;
            width: 40%;
            margin-top: 1rem;
            margin-bottom: 3rem;

            

            &__list {
                border: solid 1px #ccc;
                min-height: 6rem;
                background: white;
                border-radius: .5rem;
                max-height: 30rem;
                overflow-y: scroll;
                display: block;

                &::-webkit-scrollbar {
                        width: 1rem;
                    }
                
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.3);
                    border-radius: .5rem;
                }
            
                &::-webkit-scrollbar-thumb {
                    border-radius: .5rem;
                    -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.5);
                }

                &-element {
                    padding: 2rem 1rem;
                    border-bottom: solid 1px #ccc;
                    color: rgba(0, 0, 0, 0.87);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    box-sizing: border-box;
                    cursor: move;
                    background: white;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .anamnesis {

       margin-top: 5rem;
       margin-bottom: 3rem;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       min-height: 35rem;
       max-height: 45rem;

    }

        .patient {
            box-shadow: $inner-card-box-shadow;
            padding: 3rem;
            border-radius: 1rem;
        }
    
    .description {
        padding: 2rem 2rem;
        height: 15rem;
        box-shadow: $shadow-light;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1rem;

        &-header {
            font-size: 2rem;
            font-weight: 500;
        }

        &-text {
            margin-top: 1rem;
            width: 100%;
            resize: none;
            background: transparent;
            border: 0 none;
            outline: none;
            height: 100%;
            font-size: 1.6rem;
        }
    }

    .prescriptions-tab {
        display: flex;
        flex-direction: column;
        height: 50rem;

        .header {
            height: 5%;
            margin-bottom: 4rem;
            margin-top: 4rem;

            .pres-button {
                width: 15rem;
                height: 3rem;
                border-color: #fd5c63;
                color: #fd5c63;

                &:hover {
                    background-color: #fd5c63;
                    color: #fff;
                }
            }

        }

        .main-content {
            height: 60%;
            margin-bottom: 2rem;
           
            .list-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            &__single {
                height: 5rem;
                border-radius: 1rem;
                box-shadow: $card-box-shadow;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: .5rem 2rem;
                background-color: #fff;
                background-image: url('../../../assets/img/vector-blue.png');
                background-repeat: no-repeat;
                background-position: left;
                color: black;
                margin-bottom: 1rem;

                .header-desc {
                    display: flex;
                    width: 50%;
                }

                &-header {
                    font-size: 1.6rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-right: 2rem;
                    width: 15rem;
                }

                &-description {
                    font-size: 1.2rem;
                    font-weight: 400;
                    width: 20rem;
                }

                &-daterange {
                    font-size: 1.6rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }

        .footer {
            height: 20%;
        }
    }

    .finish {

        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 35rem;
        max-height: 45rem;

        .summary {
            display: flex;
            justify-content: space-between;

            .description {
                width: 45%;
            }

            &__symptoms {
                padding: 2rem 2rem;
                height: 15rem;
                box-shadow: $shadow-light;
                display: flex;
                flex-direction: column;
                border-radius: 1rem;
                width: 45%;

                &-header {
                    font-size: 2rem;
                    font-weight: 500;
                    margin-bottom: .5rem;
                }

                &-symptom {
                    text-transform: uppercase;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

.button {
    margin-right: 1rem;
    padding: .1rem .3rem;
    width: 9rem;
    background-color: white;
    border: 1px solid $button-color-primary;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .5rem;
    color: $button-color-primary;
    transition: .2s;

    &:hover {
        transform: scale(1.05);
        transition: .2s;
        cursor: pointer;
        background-color: $button-color-primary;
        color: white;
    }

    &:disabled {
        transform: none;
        border: none;

        &:hover {
            background-color: white;
            color: lightgray;
            cursor: default;
        }
    }
}