@import '../../../../../styles/helpers/variables';
.background {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5rem;
  margin: 0 auto;
}

.container {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.segment {
  background-color: #fefefe;
  border: 1px solid white;
  width: 100%;
}

.size {
  width: 90%;
  margin: 0 auto;
}

.pie {
  width: 40%;
}

.with-table {
  display: flex;
  justify-content: space-between;
}

.combo{
  width: 95%;
  //display:flex;
  //justify-content: left;
  //left: 5%;
  float: left !important;
}

.search-options {
  width: 20%;
  margin-right: 5px;
}

.search-doctors{
  width:20%;
  margin-left: 5px;
  
}

.years{
  margin-left: 5px;
  width:20%;
}

.years {
  margin-left: 5px;
  width:20%;
}

.button {
  margin-right: 1rem;
  padding: .1rem .3rem;
  width: 20rem;
  background-color: white;
  border: 1px solid $button-color-primary;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: .5rem;
  color: $button-color-primary;
  transition: .2s;
  height: 3rem;

  &:hover {
      transform: scale(1.05);
      transition: .2s;
      cursor: pointer;
      background-color: $button-color-primary;
      color: white;
  }

  &:disabled {
      transform: none;
      border: none;

      &:hover {
          background-color: white;
          color: lightgray;
          cursor: default;
      }
  }
}
.months{
  margin-left: 5px;
  width:20%;
}

/* ===== Scrollbar CSS from https://codepen.io/stephenpaton-tech/full/JjRvGmY ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0a2140 #e1e1e1;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #e1e1e1;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0a2140;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
