<div class="container">
  <div class="background">
    <div class="size" *ngIf="appointmentChart">
      <canvas class="segment" id="chart1"></canvas>
    </div>
    <div class="size" *ngIf="patientChart">
      <canvas class="segment" id="chart2"></canvas>
    </div>
    <div class="size" *ngIf="agePyramid">
      <canvas class="segment" id="chart3"></canvas>
    </div>
    <div class="size" *ngIf="tableData">
      <app-data-table [fromParent]="tableData"></app-data-table>
    </div>
    <div class="size pie" *ngIf="usersChart">
      <canvas class="segment" id="chart4"></canvas>
    </div>
    
    <div class="combo">
      <mat-form-field class="search-doctors" appearance="fill">
        <mat-label>Choose doctor</mat-label>
        <mat-select (selectionChange)="getVacationStatistic($event)">
          <mat-option *ngFor="let d of doctors" [value]="d.id">{{
            d.firstName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="size" [hidden]="!vacationsChart">
      <canvas class="segment" id="chart5"></canvas>
    </div>
    
    <div class="combo">
      <mat-form-field class="search-doctors" appearance="fill">
        <mat-label>Choose year</mat-label>
        <mat-select (selectionChange)="changeYear($event)">
          <mat-option value='2021'>2021</mat-option>
          <mat-option value='2022'>2022</mat-option>
          <mat-option value='2023'>2023</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="size" [hidden]="!tenderMoneyChart">
      <canvas class="segment" id="chart8"></canvas>
    </div>
  </div>
</div>
