.background {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5rem;
  margin: 0 auto;
}

.container {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.segment {
  background-color: #fefefe;
  border: 1px solid white;
  width: 100%;
}

.size {
  width: 90%;
  margin: 0 auto;
}

.pie {
  width: 40%;
}

.with-table {
  display: flex;
  justify-content: space-between;
}

.combo{
  width: 95%;
  //display:flex;
  //justify-content: left;
  //left: 5%;
  float: left !important;
}

.search-doctors{
  width:20%;
  float: left;
}

.years {
  margin-left: 5px;
  width:20%;
}

/* ===== Scrollbar CSS from https://codepen.io/stephenpaton-tech/full/JjRvGmY ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0a2140 #e1e1e1;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #e1e1e1;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0a2140;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
