<div class="container">
  <div class="background">
    <div class="size" *ngIf="appointmentChart">
      <canvas class="segment" id="chart1"></canvas>
    </div>
    <div class="size" *ngIf="patientChart">
      <canvas class="segment" id="chart2"></canvas>
    </div>
    <div class="size" *ngIf="agePyramid">
      <canvas class="segment" id="chart3"></canvas>
    </div>
    <div class="size" *ngIf="tableData">
      <app-data-table [fromParent]="tableData"></app-data-table>
    </div>
    <div class="size pie" *ngIf="usersChart">
      <canvas class="segment" id="chart4"></canvas>
    </div>
    <mat-form-field class="search-hospital" appearance="fill">
      <mat-label>Choose doctor</mat-label>
      <mat-select (selectionChange)="getVacationStatistic($event)">
        <mat-option *ngFor="let d of doctors" [value]="d.id">{{ d.firstName }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="size" *ngIf="vacationsChart">
      <canvas class="segment" id="chart5"></canvas>
    </div>
  </div>
</div>
