<div class="all">
  <div class="info">
    <div class="display-rooms-wrapper">
      <div class="input-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Choose hospital</mat-label>
          <mat-select (selectionChange)="selectHospital($event)">
            <mat-option value="4">{{ buildings[0]?.name }}</mat-option>
            <mat-option value="5">{{ buildings[1]?.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose floor</mat-label>
          <mat-select (selectionChange)="selectFloor($event)">
            <mat-option value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div id="canvas-holder">
      <canvas class="canvas" height="300px" width="300px"></canvas>
    </div>
  </div>
  <div ngSwitch="switchDetails">
    <app-show-building-details
      (notify)="updateBuildingInfo()"
      *ngIf="this.showBuildingDetails"
      [room]="clickedRoom"
    ></app-show-building-details>
    <app-show-floor-details
      *ngIf="this.showFloorDetails"
      [room]="clickedRoom"
    ></app-show-floor-details>
    <app-show-room-details
      (notify)="updateView()"
      *ngIf="this.showRoomDetails"
      [room]="clickedRoom"
    ></app-show-room-details>
  </div>
  <div>
    <app-show-searched-rooms
      (newItemEvent)="sendRoomId($event)"
      [searchedRooms]="searchedRooms"
    ></app-show-searched-rooms>
  </div>
</div>
