<div class="all">
  <div class="info">
    <div class="display-rooms-wrapper">
      <div class="input-wrapper">
        <mat-form-field class="search-hospital" appearance="fill">
          <mat-label>Choose hospital</mat-label>
          <mat-select
            id="buildingSelect"
            (selectionChange)="selectHospital($event)"
          >
            <mat-option id="mat-option-building" value="4">{{
              buildings[0]?.name
            }}</mat-option>
            <mat-option value="5">{{ buildings[1]?.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="search-hospital" appearance="fill">
          <mat-label>Choose floor</mat-label>
          <mat-select id="floorSelect" (selectionChange)="selectFloor($event)">
            <mat-option id="mat-option-floor" value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="search">
          <mat-label>Number</mat-label>
          <input matInput #number />
        </mat-form-field>
        <mat-form-field class="search">
          <mat-label>Purpose</mat-label>
          <input matInput #purpose />
        </mat-form-field>
        <mat-form-field class="search">
          <mat-label>Start</mat-label>
          <input matInput #start placeholder="hh:mm" />
        </mat-form-field>
        <mat-form-field class="search">
          <mat-label>End</mat-label>
          <input matInput #end placeholder="hh:mm" />
        </mat-form-field>
        <mat-form-field class="search-hospital" appearance="fill">
          <mat-label>Choose equipment</mat-label>
          <mat-select (selectionChange)="selectEquipment($event)">
            <mat-option value="0">Beds</mat-option>
            <mat-option value="1">Scissors</mat-option>
            <mat-option value="2">Needles</mat-option>
            <mat-option value="3">Bandages</mat-option>
            <mat-option value="4">Respirator</mat-option>
            <mat-option value="5">Stethoscope</mat-option>
            <mat-option value="6">Xray</mat-option>
            <mat-option value="7">Plaster</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="search">
          <mat-label>Quantity</mat-label>
          <input type="number" matInput ngModel #quantity />
        </mat-form-field>
        <button
          mat-stroked-button
          color="primary"
          class=""
          (click)="
            searchRooms(
              number.value,
              purpose.value,
              start.value,
              end.value,
              quantity.value
            )
          "
          type="button"
        >
          Search
        </button>
      </div>
    </div>
    <div id="canvas-holder">
      <canvas class="canvas" height="300px" width="300px"></canvas>
    </div>
  </div>

  <div ngSwitch="switchDetails">
    <button
      class="renovation-btn"
      *ngIf="floor !== -1 && building !== -1"
      (click)="renovate()"
      id="renovation-button"
    >
      Renovation
    </button>
    <app-show-building-details
      (notify)="updateBuildingInfo()"
      *ngIf="this.showBuildingDetails"
      [room]="clickedRoom"
    ></app-show-building-details>
    <app-show-floor-details
      *ngIf="this.showFloorDetails"
      [room]="clickedRoom"
    ></app-show-floor-details>
    <app-show-room-details
      (relocateNotify)="relocate($event)"
      (notify)="updateView()"
      *ngIf="this.showRoomDetails"
      [room]="clickedRoom"
      [relocationRequests]="relocationRequests"
      [appointments]="appointments"
      [equipment]="equipments"
      [renovations]="renovations"
    ></app-show-room-details>
    <app-show-searched-rooms
      (newItemEvent)="sendRoomId($event)"
      *ngIf="this.showSearchedRooms"
      [searchedRooms]="searchedRooms"
    ></app-show-searched-rooms>
  </div>
  <app-renovation-stepper
    *ngIf="doRenovate"
    (closeNotify)="doRenovate = false"
    [floor]="floor"
    [building]="building"
  >
  </app-renovation-stepper>
  <app-stepper
    *ngIf="doRelocate"
    [equipment]="element"
    (closeNotify)="closeStepper()"
    (refreshEquipmentNotify)="refreshEquipment($event)"
  ></app-stepper>
</div>
