.all{
  display: flex;
  gap: 2%;
  width: 100%;

  .form{
    width: 20%;
    min-height: 100%;
  }
  .info{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    .display-rooms-wrapper{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
        
      }
    }
    .canvas-window{
      margin-top: 20px;
      width: 100%;
      display: flex;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .canvasdiv{
        display: flex;
      }
      .canvas{
        height: 100%!important;
        width: 100%!important;
        // min-width: 900px;
        // max-width: 900px;
        // max-height: 450px;
        // min-height: 450px;
      }
      
    }
  }

.header{
  display: flex;
  align-items: center;
  gap: 10px;
}

.mat-select{
  height: 2%;
  font-size: 12px;
}
.search{
  width: 100%;
  padding: 0px;
  font-size: 16px;
}
.search-hospital{
  width: 150%;
  font-size: 12px;
}

.btn-search{
  justify-self: center;
  width: 200px;
  max-width: 200px;

  height: 45px;
  margin-left: 130px;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.menu-expander{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 420px;
  max-width: 420px;

  padding: 30px;
}

.hospital-info{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: flex-end;
}

.hospital-info1{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5%;
  min-width: 420px;
  padding: 30px;

  //margin-top: -30px;
}

.mat-form-field{
  width: 200px !important;
}

.menu-btn{
  height: 45px;
  margin-top: -15px;
}


.button{
  display: table-cell;
  width: 10%;
  padding: 5px;
  height: 50px;
  text-align: center;
}

.details{
  width: 50%;
  margin-top: 7%;
}
.renovation-btn{
  height: 40px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #537895;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.renovation-btn:hover{
  scale: 1.05;
  background-color: #4b6b83;
}




