.display-rooms-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .input-wrapper{
    display: flex;
    gap: 20px;
    //margin-top: -30px;

    mat-select{
      height: 20px;
      font-size: 16px;
    }
  }
}

.info{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.canvas{
  height: 100%!important;
  width: 100%!important;
  // min-width: 900px;
  // max-width: 900px;
  // max-height: 450px;
  // min-height: 450px;
}

.all{
  display: flex;
  gap: 35px;
  width: 100%;

  .form{
    width: 20%;
    min-height: 100%;
  }
}

.search{
  width: 80px;
  padding: 0px;
  font-size: 16px;
}

.search-hospital{
  width: 150px;
  font-size: 10px;
}

.button{
  display: table-cell;
  width: 50px;
  padding: 5px;
  height: 50px;
  text-align: center;
}


