<div class="display-rooms-wrapper">
  <div class="input-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>Choose hospital</mat-label>
      <mat-select (selectionChange)="selectHospital($event)">
        <mat-option value="Hospital1">Hospital 1</mat-option>
        <mat-option value="Hospital2">Hospital 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose floor</mat-label>
      <mat-select (selectionChange)="selectFloor($event)">
        <mat-option value="0">0</mat-option>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div id="canvas-holder">
    <canvas class="canvas" height="300px" width="300px"></canvas>
  </div>

</div>
<div *ngIf="showDetails"><app-show-details [room]="clickedRoom"></app-show-details></div>

