@import './../../../styles/helpers/variables';

table.mat-table {
  table-layout: fixed;
  width: 100%;
  display: table;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55rem !important;
  width: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.3);
    background-color: rgba($sidebar-color-secondary, 0.35);
    border-radius: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    -webkit-box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.5);
    background-color: rgba($sidebar-color-secondary, 1);
  }
}

.table-header {
  display: inline;
}

p {
  font-size: 1.5rem;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

section {
  display: table;
}

.mat-row:hover {
  background-color: rgb(237, 241, 244);
  cursor: pointer;
  caret-color: transparent;
}

.mat-header-cell {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: $sidebar-color-secondary;
  width: auto;
}

.card {
  height: 55rem;
  width: 100%;
}
