<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div class="stepper-container">
  <div class="stepper-wrapper">
    <mat-icon class="close-icon" (click)="closeStepper()">close</mat-icon>

    <mat-stepper
      orientation="horizontal"
      [linear]="true"
      class="stepper"
      #stepper
    >
      <mat-step [completed]="renovationTypeForm.value.type">
        <form [formGroup]="renovationTypeForm">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="type"
            id="renovation-type"
            class="typeForm"
          >
            <mat-radio-button value="0">Joining rooms</mat-radio-button>
            <mat-radio-button value="1" id="mat-radio-button-type"
              >Splitting room</mat-radio-button
            >
          </mat-radio-group>

          <div>
            <button
              mat-button
              matStepperNext
              (click)="decideRenovationType()"
              id="next1"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="roomForm.value.room1">
        <form [formGroup]="roomForm">
          <mat-form-field appearance="fill">
            <mat-label>Room</mat-label>
            <mat-select
              formControlName="room1"
              (selectionChange)="findPossibleRoomsForMergeRenovation($event)"
              id="selectFirstRoom"
            >
              <mat-option
                value="{{ room.room.id }}"
                *ngFor="let room of rooms1; index as i"
                id="room{{ i }}"
              >
                {{ room.room.number }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            *ngIf="
              renovationTypeForm.value.type === '0' && roomForm.value.room1
            "
          >
            <mat-label>Room</mat-label>
            <mat-select formControlName="room2">
              <mat-option
                value="{{ room.room.id }}"
                *ngFor="let room of rooms2"
              >
                {{ room.room.number }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious (click)="createEvent(6)">Back</button>
            <button mat-button matStepperNext id="next2" (click)="createEvent(1)">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step
        [completed]="periodForm.value.startDate && periodForm.value.endDate"
      >
        <form [formGroup]="periodForm">
          <mat-form-field appearance="fill">
            <mat-label>Start date</mat-label>
            <input
              formControlName="startDate"
              matInput
              type="date"
              id="datePicker1"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>End date</mat-label>
            <input
              formControlName="endDate"
              matInput
              type="date"
              id="datePicker2"
            />
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious (click)="createEvent(6)">Back</button>
            <button mat-button matStepperNext id="next3" (click)="createEvent(2)">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="durationForm.value.duration">
        <form [formGroup]="durationForm">
          <mat-form-field appearance="fill">
            <mat-label>Renovation duration in hours</mat-label>
            <input
              formControlName="duration"
              matInput
              type="number"
              min="0"
              id="duration"
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious (click)="createEvent(6)">Back</button>
            <button mat-button matStepperNext (click)="recommend()" id="next4">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [completed]="startTimeForm.value.startTime?.length === 1">
        <mat-spinner *ngIf="showSpinner"></mat-spinner>
        <form [formGroup]="startTimeForm">
          <mat-selection-list [multiple]="false" formControlName="startTime">
            <mat-list-option
              value="{{ dateTime }}"
              *ngFor="let dateTime of dateTimes; index as i"
              id="startTime{{ i }}"
            >
              {{ dateTime | date: "dd.MM.yyyy HH:mm" }}
            </mat-list-option>
          </mat-selection-list>
          <div>
            <button mat-button matStepperPrevious (click)="createEvent(6)">Back</button>
            <button mat-button matStepperNext id="next5" (click)="createEvent(4)">Next</button>
          </div>
        </form>
      </mat-step>

      <!-- new info about rooms/room -->
      <mat-step>
        <form [formGroup]="newInfoForm">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>New room name</mat-label>
              <input
                formControlName="newName1"
                matInput
                type="text"
                id="newName1"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>New room purpose</mat-label>
              <mat-select formControlName="newPurpose1" id="newPurpose1">
                <mat-option value="sala za sastanke" id="newPurpose1Option"
                  >SALA ZA SASTANKE</mat-option
                >
                <mat-option value="ordinacija">ORDINACIJA</mat-option>
                <mat-option value="operaciona sala">OPERACIONA SALA</mat-option>
                <mat-option value="laboratorija">LABORATORIJA</mat-option>
                <mat-option value="kafeterija">KAFETERIJA</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              *ngIf="newInfoForm.value.newPurpose1 === 'operaciona sala'"
            >
              <mat-label>New room capacity</mat-label>
              <input
                formControlName="newCapacity1"
                matInput
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field
              appearance="fill"
              *ngIf="renovationTypeForm.value.type === '1'"
            >
              <mat-label>New room name</mat-label>
              <input
                formControlName="newName2"
                matInput
                type="text"
                id="newName2"
              />
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              *ngIf="renovationTypeForm.value.type === '1'"
            >
              <mat-label>New room purpose</mat-label>
              <mat-select formControlName="newPurpose2" id="newPurpose2">
                <mat-option value="sala za sastanke" id="newPurpose2Option"
                  >SALA ZA SASTANKE</mat-option
                >
                <mat-option value="ordinacija">ORDINACIJA</mat-option>
                <mat-option value="operaciona sala">OPERACIONA SALA</mat-option>
                <mat-option value="laboratorija">LABORATORIJA</mat-option>
                <mat-option value="kafeterija">KAFETERIJA</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              *ngIf="newInfoForm.value.newPurpose2 === 'operaciona sala'"
            >
              <mat-label>New room capacity</mat-label>
              <input
                formControlName="newCapacity2"
                matInput
                type="number"
                min="0"
              />
            </mat-form-field>
            <div></div>

            <button mat-button matStepperPrevious (click)="createEvent(6)">Back</button>
            <button
              mat-button
              matStepperNext
              (click)="schedule()"
              id="schedule"
            >
              Schedule
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
