<form class="details-form">
    <div class="blocks">
        <div class="details">
            <mat-form-field>
                <mat-label>Naziv zgrade</mat-label>
                <input class="inputText" matInput disabled="isDisabled" value="{{this.room.floor.building.name}}">
            </mat-form-field>
        </div>
        <div class="details">
            <mat-form-field>
                <mat-label>Adresa zgrade</mat-label>
                <input class="inputText" disabled="isDisabled" matInput value="{{this.room.floor.building.address}}">
            </mat-form-field>
        </div>
        <div class="details">
            <mat-form-field>
                <mat-label>Broj sprata</mat-label>
                <input class="inputText" matInput disabled="isDisabled" value="{{this.room.floor.number}}">
            </mat-form-field>
        </div>
        <div class="details">
            <mat-form-field>
                <mat-label>Svrha sprata</mat-label>
                <input class="inputText" matInput disabled="isDisabled" value="{{this.room.floor.purpose}}">
            </mat-form-field>
        </div>
        <div class="details">
            <mat-form-field>
                <mat-label>Broj sobe</mat-label>
                <input required class="inputText" matInput [disabled]='isDisabled' value="{{this.room.number}}" #number>
            </mat-form-field>
        </div>
        <div class="details">
            <mat-form-field>
                <mat-label>Svrha sobe</mat-label>
                <input required class="inputText" id="purpose-input" matInput [disabled]='isDisabled' value="{{this.room.purpose}}" #purpose>
            </mat-form-field>
        </div>
        <div [hidden]='showWorkingHours' class="details">
            <mat-form-field>
                <mat-label>Početak radnog vremena</mat-label>
                <input required name="start" class="inputText" id="start" matInput [disabled]='isDisabled' value="{{this.room.workingHours.start | date :'hh:mm'}}" #start>
            </mat-form-field>
        </div>
        <div [hidden]='showWorkingHours' class="details">
            <mat-form-field>
                <mat-label>Kraj radnog vremena</mat-label>
                <input required class="inputText" id="end" matInput [disabled]='isDisabled' value="{{this.room.workingHours.end | date :'hh:mm'}}" #end>
            </mat-form-field>
        </div>
        <div class="button1">
            <button class="button-edit" mat-button class="button" (click)="enableFields()" type="button">Edit</button>
        </div>
        <div class="button2">
            <button class="button-save" mat-button class="button" (click)="editRoom(purpose.value, start.value, end.value, number.value)" type="submit">Save</button>
        </div>  
        
    </div>
</form>
