.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #537895;
    padding-top: 5px;
    padding-bottom: 5px;

    .inputText{
      color: white;
    }
}
.blocks{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #537895;
    border-radius: 10px;
    min-width: 180px;
    min-height: 162px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.details-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: #aeccd6;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.details-full-width {
  width: 100%;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

  mat-label{
    color: white;
  }


