.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #aeccd6;
    padding-top: 5px;
    padding-bottom: 5px;
}
.blocks{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #aeccd6;
    border: solid 2px;
    border-color: #94acb3;
    min-width: 180px;
    min-height: 162px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: #aeccd6;
}
  
.example-full-width {
  width: 100%;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.inputText{
  color: black;
}

  