<div class="component">
  <div class="component__info">
    <app-other-info
      (outputData)="storeFromChildInfo($event)"
      [doctorId]="doctorId"
      class="component__info__element"
    ></app-other-info>
  </div>
  <div class="component__list">
    <app-doctors-list
      (outputDoctors)="storeFromChildDoctorsList($event)"
      [selectedSpecializations]="selectedSpecializations"
      class="component__list__element"
    ></app-doctors-list>
    <app-specializations-list
      (outputSpecializations)="storeFromChildSpecializations($event)"
      [selectedDoctors]="selectedDoctors"
      class="component__list__element"
    ></app-specializations-list>
    <app-button-space
      [scheduleConsiliumDto]="scheduleConsiliumDto"
      [selectedDoctors]="selectedDoctors"
      [selectedSpecializations]="selectedSpecializations"
      class="component__list__button"
    ></app-button-space>
  </div>
</div>
