.component {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 0rem;
  width: 100%;
  height: 60rem;
  box-sizing: border-box;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 100%;

    &__element {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-right: 8rem;
      width: 80%;
      height: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;

    &__element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 43%;
    }

    &__button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      height: 14%;
    }
  }
}
