@import '../../../styles/helpers/variables';

.prescription {

    padding: 2rem;

    &__form-field {
        width: 90%;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    &__text-area {
        margin-top: 0rem;
        width: 90%;
        resize: none;
        border-radius: 10px;
        background-color: rgba(203, 203, 210, .25);
        border: 0 none;
        outline: none;
        height: 100%;
        min-height: 10rem;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    &__actions {

        display: flex;
        margin-top: 3rem;
        justify-content: flex-end;
        align-items: center;

        &-button {
            margin-right: 1rem;
            padding: .7rem .7rem;
            width: 9rem;
            background-color: white;
            border: 1px solid $button-color-primary;
            font-weight: 600;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: .5rem;
            color: $button-color-primary;
            transition: .2s;

            &:hover {
                transform: scale(1.05);
                transition: .2s;
                cursor: pointer;
                background-color: $button-color-primary;
                color: white;
            }
        }

    }

}
