.widest{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acquisitionsTable{

    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.tble{
    column-gap: 30px;
    gap: 30px;
    width: 30%;
}